body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background-color:white;
	

}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

h2{
	color:royalblue;
}


.button {
  padding: 15px 25px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button:hover {
	background-color: #3e8e41;
	

}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.column {
  float: left;
}


.column.side {
  width: 45%;
  animation: slideIn 1s ease-in-out;
}
.column.middle {
  width: 55%;
  animation: slideIn 1s ease-in-out;

padding: 20px;
box-sizing: border-box;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
header {
    background-color: CornflowerBlue;
    color: #fff;
    text-align: center;
    padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	animation: scale 1s ease-in-out;
	animation: pulse 1s 1;
	
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

nav {
    background-color:CornflowerBlue;
    padding: 25px;
	
	animation: scale 1s ease-in-out;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}
nav :hover{
    
}
li a {
  
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  background-color: #04AA6D;
  border-radius:15px;
}


li a:hover {
  background-color: #3e8e41;
  border-radius:15px;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 40px;
	animation: pulse 1s 2;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img {
  animation: fadeIn 1s ease-in-out;
}
.card {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
	animation: fadeIn 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	animation: pulse 1s 2;
}

.card video {
    width: 100%;
	
    height: auto;
}
.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card h3 {
    margin-top: 0;
    color: #333;
}

.card p {
    color: #666;
}

.card a {
    display: block;
    text-align: center;
    background-color:#4CAF50 ;
    color: #fff;
    text-decoration: none;
    padding: 8px;
	width=200%;
	height=100px
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: ;
	animation: pulse 1s 1;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}
